footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 54px;
    width: 100%;
    background-color: white;
}

address a {
    font-style: normal;
    color: black;
    font-size: 12px;
    font-family: "Lustria-Regular";
    margin-left: 24px;
    margin-right: 24px;
}

.article-social-media-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

footer img:last-of-type {
    margin-right: 24px;
    margin-left: 16px;
}

footer img {
    width: 30px;
    height: 30px;
}
